@import "tailwindcss";
@import "tw-animate-css";
@import "locomotive-scroll/dist/locomotive-scroll.css";

@plugin "tailwindcss-animate";

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes heading-highlight {
  0% {
    background-color: var(--muted);
    border-radius: var(--radius);
  }
  100% {
    background-color: transparent;
  }
}

:is(h1, h2, h3, h4, h5, h6):target {
  animation: heading-highlight 1.8s ease-out forwards;
}

@utility animate-marquee {
  animation: marquee 10s linear infinite;
}

@custom-variant dark (&:is(.dark *));

/*
  SHADCN UI THEME
  Based on New York style
*/
:root {
  --background: oklch(0.9195 0.0169 88.003);
  --foreground: oklch(0.235 0 0);
  --card: oklch(0.953 0.0156 86.4257);
  --card-foreground: oklch(0.235 0 0);
  --popover: oklch(0.953 0.0156 86.4257);
  --popover-foreground: oklch(0.235 0 0);
  --primary: oklch(0.3012 0 0);
  --primary-foreground: oklch(0.9169 0.0175 99.616);
  --secondary: oklch(0.8647 0.0201 87.5232);
  --secondary-foreground: oklch(0.3012 0 0);
  --muted: oklch(0.834 0.0232 87.163);
  --muted-foreground: oklch(0.4688 0.0136 84.5932);
  --accent: oklch(0.9169 0.0175 99.616);
  --accent-foreground: oklch(0.3012 0 0);
  --destructive: oklch(0.5771 0.2152 27.325);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.8434 0.0231 87.1621);
  --input: oklch(0.8434 0.0231 87.1621);
  --ring: oklch(0.3012 0 0);
  --chart-1: oklch(0.6863 0.1743 34.2614);
  --chart-2: oklch(0.235 0 0);
  --chart-3: oklch(0.4688 0.0136 84.5932);
  --chart-4: oklch(0.7057 0.025 82.0932);
  --chart-5: oklch(0.834 0.0232 87.163);
  --sidebar: oklch(0.8985 0.0199 87.5195);
  --sidebar-foreground: oklch(0.235 0 0);
  --sidebar-primary: oklch(0.3012 0 0);
  --sidebar-primary-foreground: oklch(0.9169 0.0175 99.616);
  --sidebar-accent: oklch(0.9169 0.0175 99.616);
  --sidebar-accent-foreground: oklch(0.3012 0 0);
  --sidebar-border: oklch(0.8434 0.0231 87.1621);
  --sidebar-ring: oklch(0.3012 0 0);
  --radius: 0.5rem;
}

.dark {
  --background: oklch(0.1913 0 0);
  --foreground: oklch(0.9173 0.0133 82.4015);
  --card: oklch(0.2264 0 0);
  --card-foreground: oklch(0.9173 0.0133 82.4015);
  --popover: oklch(0.2264 0 0);
  --popover-foreground: oklch(0.9173 0.0133 82.4015);
  --primary: oklch(0.852 0.0205 100.6306);
  --primary-foreground: oklch(0.3329 0 0);
  --secondary: oklch(0.252 0 0);
  --secondary-foreground: oklch(0.852 0.0205 100.6306);
  --muted: oklch(0.285 0 0);
  --muted-foreground: oklch(0.6348 0.0113 81.7875);
  --accent: oklch(0.3329 0 0);
  --accent-foreground: oklch(0.852 0.0205 100.6306);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.2931 0 0);
  --input: oklch(0.2931 0 0);
  --ring: oklch(0.852 0.0205 100.6306);
  --chart-1: oklch(0.6863 0.1743 34.2614);
  --chart-2: oklch(0.859 0.0209 74.6369);
  --chart-3: oklch(0.6348 0.0113 81.7875);
  --chart-4: oklch(0.4681 0.0069 84.5829);
  --chart-5: oklch(0.3523 0 0);
  --sidebar: oklch(0.173 0 0);
  --sidebar-foreground: oklch(0.9173 0.0133 82.4015);
  --sidebar-primary: oklch(0.852 0.0205 100.6306);
  --sidebar-primary-foreground: oklch(0.3329 0 0);
  --sidebar-accent: oklch(0.3329 0 0);
  --sidebar-accent-foreground: oklch(0.852 0.0205 100.6306);
  --sidebar-border: oklch(0.2931 0 0);
  --sidebar-ring: oklch(0.852 0.0205 100.6306);
  --radius: 0.5rem;
}

@theme inline {
  --font-sans: var(--font-geist);
  --font-mono: var(--font-geist-mono);
  --font-serif: var(--font-serif);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
    font-family: "Geist", "Noto Sans TC", sans-serif;
    margin: 0;
    padding: 0;
    text-align: left;
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.7;
    text-autospace: normal;
    /*
    --sb-track-color: transparent;
    --sb-thumb-color: #9f9f9f;
    --sb-size: 8px; */
  }

  ::selection {
    @apply bg-blue-300/50 dark:bg-blue-200/30;
  }

  .prose h1,
  .prose h2,
  .prose h3,
  .prose h4,
  .prose h5,
  .prose h6 {
    margin: 0 0 0.5rem 0;
    line-height: 1.2;
    font-family: "Noto Serif TC", serif;
  }

  strong,
  b {
    font-weight: 700;
  }

  .prose h1 {
    @apply text-3xl md:text-4xl;
  }
  .prose h2 {
    @apply text-2xl md:text-3xl;
  }
  .prose h3 {
    @apply text-xl md:text-2xl;
  }
  .prose h4 {
    @apply md:text-xl;
  }
  .prose p {
    @apply my-4 mb-6 tracking-wide;
  }
  .prose a {
    @apply text-blue-500 underline underline-offset-4 transition-all hover:text-blue-400 hover:no-underline dark:text-blue-200 dark:hover:text-blue-300;
  }
  .prose blockquote {
    @apply text-foreground/80 border-border m-0 my-4 border-l-4 bg-[#ede2d0] px-5 py-4 text-base dark:border-[#e8e3da] dark:bg-[#272727];
  }
  .prose blockquote > p {
    @apply m-0 p-0;
  }
  .prose code {
    @apply rounded-lg border px-1 py-px font-mono text-[#745525] dark:text-[#d0ae7d];
  }
  .prose ul,
  .prose ol {
    @apply my-4 ml-6 list-outside marker:text-gray-500/75 marker:transition-colors marker:duration-200;
  }
  .prose ul {
    @apply list-disc;
  }
  .prose ol {
    @apply list-decimal;
  }
  .prose li {
    @apply pb-1;
  }
  .prose li:hover::marker {
    color: #745525;
  }
  .dark .prose li:hover::marker {
    color: #d0ae7d;
  }
  .prose li ul,
  .prose li ol {
    @apply my-0 mt-1;
  }
  .prose pre {
    @apply my-4 overflow-x-auto rounded-lg p-4;
    scrollbar-width: thin;
    scrollbar-color: var(--muted-foreground) transparent;
  }
  .prose pre::-webkit-scrollbar {
    height: 6px;
  }
  .prose pre::-webkit-scrollbar-track {
    background: transparent;
  }
  .prose pre::-webkit-scrollbar-thumb {
    background: var(--muted-foreground);
    border-radius: 3px;
  }
  .prose pre::-webkit-scrollbar-thumb:hover {
    background: var(--foreground);
  }
  .prose .code-wrapper {
    @apply relative;
  }
  .prose .code-wrapper .copy-btn {
    @apply absolute top-2 right-2 z-10 flex size-8 cursor-pointer items-center justify-center rounded-md border border-white/10 bg-white/5 text-white/50 opacity-0 backdrop-blur-sm transition-all hover:bg-white/15 hover:text-white/80;
  }
  .prose .code-wrapper:hover .copy-btn {
    @apply opacity-100;
  }
  .prose .code-wrapper .copy-btn.copied {
    @apply opacity-100;
  }
  .prose pre > code {
    all: unset;
  }
  .prose table {
    @apply bg-background/50 w-full table-auto;
    thead {
      @apply [&_tr]:border-b;
    }
    tbody {
      @apply [&_tr:last-child]:border-0;
    }
    tr {
      @apply data-[state=selected]:bg-muted border-b transition-colors hover:bg-[#24292e];
    }
    th {
      @apply text-foreground h-10 px-2 text-left align-middle font-medium whitespace-nowrap [&:has([role=checkbox])]:pr-0;
    }
    td {
      @apply p-2 align-middle whitespace-nowrap [&:has([role=checkbox])]:pr-0;
    }
    caption {
      @apply text-muted-foreground mt-4 text-sm;
    }
  }
  .prose mark {
    @apply bg-[#eebbc3] p-0.5;
  }
  textarea {
    width: 100%;
    font-size: 16px;
  }
  input {
    font-size: 16px;
  }
  img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  hr {
    border: none;
    border-top: 1px solid rgb(var(--gray-light));
  }

  @media (max-width: 720px) {
    main {
      padding: 1em;
    }
  }

  .sr-only {
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    white-space: nowrap;
  }
}
